html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, div, p, img{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
    }
body {
	background-color: #2e877e;
    width: 100%;
}
html{
	font-family: Tahoma, Helvetica, sans-serif;
}

h1{
	font-size: 1.8em;
	white-space: nowrap;
}

h2 {
	font-size: 1.2em;
	
}

p, body {
	font-size: 0.9em;
}

header{
	background-color: white;
	margin: 0.5em 5em 0.5em 5em;
	height: 7em;
}

#masthead h1{
	padding: 0.3em 0.3em 0.4em 0.3em;
	display: inline;
}

article#right-sidebar{
	float: left;
	height: 50em;
	width: 15em;
	margin: 0em 0em 0.5em 5em;
	background-color: white;
}
article#left-sidebar{
	float: right;
	height: 50em;
	width: 15em;
	margin: 0em 5em 0.5em 0.5em;
	background-color: white;
}

article#center{
	height: 50em;
	overflow: auto;
	margin: 0em 5em 0.5em 20.5em;
	background-color: white;
}

article#left-center{
	height: 50em;
	overflow: auto;
	margin: 0em 5em 0.5em 5em;
	background-color: white;
}



a:link {
  text-decoration: none
}

table {
	padding: 0.5em;
	table-layout: fixed;
	width: 100%;
}

#box{
	padding: 0em 0.5em 0.5em 0.5em;
	border-spacing: 0;
}


td {
	text-align:center;
}

#right-sidebar tbody tr, tfoot tr{
	background-color: #474747;
	border: 1pt solid white;
	width: 13em;
}

#right-sidebar tbody td:hover{
	background-color: gray;
	color: black;
}

tbody td, tfoot td{
	padding: 0.75em;
}

header tbody td, tfoot td{
	padding: 0.25em;
}

#userinfo{
	width:40%;
}

#userinfo td{
	text-align:left;
	width:25%;
}


article#center h1, p{
	margin: 10px 20px 5px 20px;
}

#box tbody {
	background-color: #474747;
	border: 0;
}

#masthead a {
	color: white;
}

#right-sidebar a {
	color: white;
}

#masthead h1 a{
	color: black;
}

.thumbnail{
	width:3em;
	height:3em;
	object-fit:cover;
	border-radius: 50%;
}

article#right-icon{
	float: right;
	padding: 0.5em 0.5em 0em 0em;

}

article#center form{
	margin: 10px 20px 5px 20px;
}

#deleteuser{
	text-align:center; 
	padding:0.5em;
}


/** HOME PAGE CSS **/
#home-body {
    background-color: #2e877e;
    box-sizing: border-box;
    padding: 10px;
}

#home-header {
    padding: 30px;
    text-align: center;
    background: white;
    height: fit-content;
    overflow: auto;
}
#home-header h1 a{
    font-size: 50px;
    color: black;
}
#home-header table a { color: white;}
#home-header table a:hover{
    background-color: #ddd;
    color: black;
}

#topsearch {
    background-color: #474747;
    padding: 0.2em;
    display:block;
    
}

#searchbar {
    margin: 0.5em 0.5em;
}


#featured-posts-left {
    margin: 10px;
    float: left;
    width: 75%;
}
.post-entry {
    background-color: cornsilk;
    padding: 20px;
    margin-top: 20px;
}

#sidebar-right {
    float: left;
    width: 20%;
    margin: 10px;
    padding: 0.5em;
    background-color: white;
}
#sidebar-right a:hover {
    background-color: grey;
    color: black;
}
#sidebar-right > ul {
    list-style-type: none;
}
#sidebar-right input {
    margin: 0.5em;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

#home-footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    background-color: #474747;
}
/*** ***/

.footer-section{
	text-align: center;
	background-color: #474747;
	padding: 10px 0px 35px 0px;
}

.footer-section p{
	margin: 0px 0px 10px 0px;
}

.footer-section h2{
	padding: 20px 0px 10px 0px;
}

.resize{
	max-width:20em;
	max-height:20em;
	margin: 1em 1em 1em 3em;
}


	
/*REGISTRATION PAGE CSS */
#register-page-body {
    background-color: #2e877e;


}

span {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 15px;
    color: red;
    position: relative;
    z-index: 1;
    left: 510px;
    top: 20px;

}

.register-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.register-page h1 {
    font-family: Tahoma, Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    position: relative;
    bottom: 40px;
    left: 10px;
}
.form {
    position: relative;
    right: 47px;
    z-index: 1;
    background: white;
    width: 380px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
fieldset {
    border: 0;
}
.form h2 {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 17px;
    color: #2e877e;
    padding: 15px;
    margin: 0 0 15px;
}
.form input {
    font-family: Tahoma, Helvetica, sans-serif;
    outline: 1;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;

}
.form select {
    font-family: Tahoma, Helvetica, sans-serif;
    outline: 1;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}
input::-webkit-input-placeholder {
    font-size: 10.4px;
    line-height: 3;
}
#registerbutton {
    font-family: Tahoma, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #2e877e;
    width: 100%;
    border: 0;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
#registerbutton:hover{
   background-color: #1f5742;
}
#registerbutton:active {
    transform: scale(0.98)
}
.form .message {
    font-size: 11px;
    margin: 15px 0 0;
    color: #21635d;
}
.form .message a {
    font-family: Tahoma, Helvetica, sans-serif;
    border: 1px solid #21635d ;
    background-color: #21635d;
    color: white;
    text-decoration: none;
    padding: 0.2em;
}
.form .message a:hover, .message a:active {
     background-color: #1f5742;
     text-decoration: underline
}
#loginbutton {
    font-family: Tahoma, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #2e877e;
    width: 50%;
    border: 0;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
#loginbutton:hover {
   background-color: #1f5742;
}
#registerbutton:active {
    transform: scale(0.98)
}
#login-form {
    display: none;
}
/*--------------------*/
#main {
width: 100%;
}

#createpost {
    width: 100%;
    margin: auto;
}
/*-------------------*/

@media screen and (max-width: 375px){
    form{
        max-width: 100%;
    }
}
@media screen and (min-width: 1024px){
    form{
       max-width: 200%;
    }
}